@use "../_functions.scss" as *;
@use "../_variables.scss" as *;
@use "sass:color";

.maini-ui-button {
  font-size: rem(16px);
  border-radius: rem(6px);
  padding: rem(8px) rem(16px);
  transition: all 0.3s ease;

  &__primary {
    color: $white;
    background-color: $color-primary;
    border-color: $color-primary;

    &:enabled:hover {
      background-color: color.scale($color-primary, $lightness: -10%);
      border-color: $color-primary;
      transition: all 0.3s ease;
    }
    &:enabled:active {
      background-color: $lunar-green;
      border-color: $lunar-green;
      transition: all 0.3s ease;
    }
  }

  &__google {
    color: #1f1f1f;
    background-color: $white;
    border-color: $dusty-gray;
    font-family: "Roboto", arial, sans-serif;
    font-size: rem(14px);
    font-weight: 500;
    -webkit-transition: background-color 0.218s, border-color 0.218s,
      box-shadow 0.218s;
    transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;

    &:enabled:hover {
      color: #1f1f1f;
      background-color: #f2f2f2;
      border-color: $dusty-gray;
      transition: all 0.3s ease;
      -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }
    &:enabled:active {
      color: $black;
      background-color: #f2f2f2;
      border-color: $dusty-gray;
      transition: all 0.3s ease;
      -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
      box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }
  }

  &__buy {
    border: 0px;

    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;

    &:enabled:hover {
      background-color: color.scale($color-primary, $lightness: -10%);
      border: 0px;
      transition: all 0.3s ease;
    }
    &:enabled:active {
      background-color: $lunar-green;
      transition: all 0.3s ease;
    }
  }
}
