@use "../_functions" as *;

.maini-ui {
  &__section {
    padding-top: rem(64px);
    padding-bottom: rem(64px);

    @media screen and (max-width: 768px) {
      padding-top: rem(32px);
      padding-bottom: rem(32px);
    }
  }
  &__extra-small-container {
    max-width: rem(420px);
    margin: 0 auto;
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
  &__small-container {
    max-width: rem(746px);
    margin: 0 auto;
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
  &__medium-container {
    max-width: rem(810px);
    margin: 0 auto;
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
  &__container {
    max-width: rem(1200px);
    margin: 0 auto;
    padding-left: rem(15px);
    padding-right: rem(15px);
  }
  &__container-products {
    max-width: rem(1200px);
    margin: 0 auto;
    padding-left: rem(5px);
    padding-right: rem(5px);
  }
}
