@use "sass:math";
@use "variables" as *;
@use "fonts" as *;
@use "mixin" as *;

@function rem($pixels) {
  @return math.div($pixels, 16) + rem;
}

.h- {
  &bg- {
    &primary {
      background-color: $color-primary;
    }
    &secondary {
      background-color: $color-secondary;
    }
    &white {
      background-color: $white;
    }
    &alto {
      background-color: $alto;
    }
    &palm-leaf {
      background-color: $palm-leaf;
    }
    &aero-blue {
      background-color: $aero-blue;
    }
    &castleton-green {
      background-color: $castleton-green;
    }
    &transparent {
      background-color: transparent;
    }
  }

  &font-weight {
    &-700 {
      font-weight: $bold;
    }
    &-600 {
      font-weight: $semibold;
    }
    &-400 {
      font-weight: $regular;
    }
    &-300 {
      font-weight: $thin;
    }
    &-100 {
      font-weight: $ultrathin;
    }
  }
  &border-color {
    &-primary {
      border-color: $color-primary !important;
    }
    &-secondary {
      border-color: $color-secondary;
    }
    &-dusty-gray {
      border-color: $dusty-gray !important;
    }
    &-geyser {
      border-color: $geyser !important;
    }
  }
  &color {
    &-white {
      color: #fff;
    }
    &-black {
      color: #000;
    }
    &-primary {
      color: $color-primary;
    }
    &-secondary {
      color: $color-secondary;
    }
    &-transparent {
      color: transparent !important;
    }
    &-palm-leaf {
      color: $palm-leaf;
    }
    &-alto {
      color: $alto;
    }
    &-lunar-green {
      color: $lunar-green;
    }
    &-dusty-gray {
      color: $dusty-gray;
    }
    &-castleton-green {
      color: $castleton-green;
    }
    &-aero-blue {
      color: $aero-blue;
    }
    &-geyser {
      color: $geyser;
    }
    &-pickled-bluewood {
      color: $pickled-bluewood;
    }
  }
  &border-radius {
    &-5 {
      border-radius: rem(5px);
    }
    &-8 {
      border-radius: rem(8px);
    }
    &-10 {
      border-radius: rem(10px);
    }
    &-15 {
      border-radius: rem(15px);
    }
    &-24 {
      border-radius: rem(24px);
    }
    &-25 {
      border-radius: rem(25px);
    }
  }
}

$i: 1;

@while $i <= 96 {
  @include generate-font-size-classes($i);

  @if $i < 32 {
    $i: $i + 1;
  } @else if $i < 64 {
    $i: $i + 2;
  } @else {
    $i: $i + 4;
  }
}
@include hover-helper(h-border-color-secondary, border-color, $color-secondary);
