@use "sass:color";

$battleship-gray: #8a9772;
$soapstone: #fff9f5;
$palm-leaf: #144111;
$alto: #e8e8e8;
$lunar-green: #414241;
$white: #fff;
$black: #000;
$dusty-gray: #989898;
$aero-blue: #d1fae5;
$castleton-green: #065f46;
$geyser: #cbd5e1;
$pickled-bluewood: #334155;

$color-primary: $battleship-gray;
$color-secondary: $soapstone;

$base-font-size-px: 16px;

$breakpoints: (
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
);
