$color-primary: #8a9772;
$color-secondary: #fff9f5;
$palm-leaf: #144111;
$alto: #e8e8e8;
$lunar-green: #414241;
$white: #fff;
$black: #000;
$dusty-gray: #989898;
$base-font-size-px: 16px;

$breakpoints: (
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
);
